@import "reset.css";
@import "normalize.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
	font: normal 14px 'Open Sans', Arial, sans-serif;
	color: #999;
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
	background-image: url("http://www.wall321.com/thumbnails/detail/20121109/abstract%20thor%20captain%20america%20silhouette%20textures%20black%20widow%20marvel%20comics%20the%20avengers%20hawkeye%20blu_www.wall321.com_78.jpg");
}

.logout {
	text-align: right;
}

.wrap {
	width: 400px;
	margin: 0 auto;
	opacity: 0.9;
}

.task-list {
	width: 88%;
	min-height: 300px;
	background: #fff;
	box-shadow: 2px 2px 0px #ddd;
	margin-top: 40px;
	padding: 22px 6%;
	opacity: 0.9;
}

@media screen and (max-width: 959px) {
  html {
    width: 100%;
  }
  .logout {
    width: 100%;
  }  
  .wrap {
    width: 100%;
  }
  .task-list {
  	width: 100%;
  }
}

@media screen and (max-width: 320px) {
  html {
    width: 100%;
  }
  .logout{
    width: 100%;
  }  
  .wrap {
    width: 100%;
  }
  .task-list {
  	width: 100%;
  }
}